@import './img';
@import './variables';
@import './resets';
@import './mobile';
.left-form{
    padding-left: 7rem;
    padding-right: 7rem;

}
.text-weight{
    font-weight: $font-weight;
}

.bg-img{
    width: 100%;
    height:85% ;

}

.one-side{
    --bs-gutter-x: $--bs-gutter-x;
}

#passw{
    padding-top: 30px;
}

.check-style{
    padding-top: 20px;
}

#forgot{
    float: right;
}


@media only screen and (max-width: $mobile-breakpoint){
    .left-form  {
      padding: 0 $padding;
    }

    .bg-img{
        display: none;
    }
    
}